<div class="container center">
  <div class="panel">
    <div class="panel-heading">
      Control de gastos! <small>Acceso para usuarios registrados</small>
    </div>
    <div class="panel-body">
      <form class="form center">

        <div class="form-element">
          <label class="form-label">Nombre de Usuario</label>
          <input class="form-input" type="text" data-rule-required="true" data-msg-required="Introducí tu usuario"/>
        </div>

        <div class="form-element">
          <label class="form-label" for="password">Password</label>
          <input class="form-input" type="password" id="password" data-rule-required="true" data-msg-required="Introducí tu clave"/>
        </div>
        <br>
        <!-- <button class="secondary">Cancelar</button> -->
        <button class="primary" ng-click="loginCtrl.ingresar()">Aceptar</button>
        <br>
        <br>
        <div class="text_center">
          <small> ¿No tenes usuario? 
            <a ui-sref="registro">Registrate ahora!</a>
          </small>
        </div>
      </form>
    </div>
  </div>
</div>
