<div class= "panel default">
	<h3>Agregar Gasto</h3>

    <div class="panel-body">
      <form class="">
        <label>Descripcion de gasto</label><br>
		<input type="text" placeholder="Descripcion" ng-model="gastoNuevo.descripcion" /> <br><br>
        <label>Monto    </label><br>
    	<input type="text" placeholder="Monto en $" ng-model="gastoNuevo.monto"> <br><br>
        <button class="primary btn center" type="submit" ng-click="nuevoGasto()">Agregar</button>
        <br>
        <br>
      </form>
      <div class="alert alert-danger" ng-show="mostrarError">
          {{mostrarError}}</div>
      </div>
    </div>
</div>
