<div class= "panel">
    <div class="panel-busqueda">
      <label class="col-lg-5 text-left">Buscar gastos de:</label>
      <input class="col-lg-7" type="text" placeholder="Descripcion a buscar" ng-model="aFiltrar.descripcion" />
      <br><br>  
      <button class="col-lg-12 btn-success btn center"  ng-click="filtrar()">Filtrar</button>
      <br><br>
      <small class="text-left col-lg-12">Filtre por descripcion para saber el total parcial.</small>
    </div>
</div>

<div class="col-lg-12">
<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed example-animate-container">
    <tbody>
      <tr>
        <th>Mes</th>
        <th>Descripci&oacute;n</th>
        <th>Monto en $</th>
      </tr>
      <tr data-ng-repeat="gasto in gastos" class="animate-repeat">
        <td class="col-xs-3">{{gasto.fecha}}</td>
        <td class="col-xs-6">{{gasto.descripcion}}</td>
        <td class="col-xs-3">{{gasto.monto}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>