 <div >
    <h2 class="text-primary"> Control de Gastos! </h2>
    <h2 class="text-primary">Registrate gratis </h2>
    <form action="/signup"></form>
        <div>
            <label>Nombre de Usuario:</label>
            <input type="text" placeholder="Nombre*" />    
        </div>
        <div>
            <label>Contrasenia:</label>
            <input type="password" placeholder="Contrasenia*" />
        </div>
        <div ui-view="newsFeed"></div>
        <div ui-view="tradeFeed"></div>
        
</div>

