<div class="page-header text-center">
    <h1>Control De Gastos
      <small>Recu de AngularJS + XTRest</small>
    </h1>
</div>

<div class="contenedorSecundario center">
  <div class="panel">
    <div class="panel-heading">
      Control de gastos! - Registracion
    </div>
    <div class="panel-body">
      <form class="form center">

        <div class="form-element">
          <label class="form-label">Nuevo nombre de Usuario</label>
          <input class="form-input" type="text" data-rule-required="true" data-msg-required="Introducí tu nuevo usuario"
            ng-model= "newUser.user"/>
        </div>

        <div class="form-element">
          <label class="form-label" for="password">Nuevo Password</label>
          <input class="form-input" type="password" id="password" data-rule-required="true" data-msg-required="Introducí tu  nueva clave" ng-model= "newUser.pass"/>
        </div>
        <br>
        <button class="primary" ng-click="registrar(newUser)"><small>Registrarse</small></button>
        <br>
        <br>
      </form>
    </div>
    <div>
        <div class="alert alert-danger" ng-show="mostrarError">
          {{mostrarError}}</div>
      </div>
  </div>
  </div>
</div>