/.ErrorAlRegistrarse.java._trace
/.ErrorAlRegistrarse.xtendbin
/.ErrorDeFiltro.java._trace
/.ErrorDeFiltro.xtendbin
/.ErrorLogin.java._trace
/.ErrorLogin.xtendbin
/.LongitudDeContraseniaIncorrecto.java._trace
/.UsuarioInexistente.java._trace
/ErrorAlRegistrarse.java
/ErrorDeFiltro.java
/ErrorLogin.java
