/.DatosParaElUsuario.java._trace
/.DatosParaElUsuario.xtendbin
/.GastoNuevo.java._trace
/.GastoNuevo.xtendbin
/.RepoUsuarios.java._trace
/.RepoUsuarios.xtendbin
/.UsuarioLogin.java._trace
/.UsuarioLogin.xtendbin
/DatosParaElUsuario.java
/GastoNuevo.java
/RepoUsuarios.java
/UsuarioLogin.java
/.GastoParaMostrar.java._trace
/.EditorDeObjetos.java._trace
/.GastosYTotal.java._trace
/.DetalleInflacionAnual.java._trace
/.DetalleInflacionMensual.java._trace
