/.DatosParaElUsuario.java._trace
/.DatosParaElUsuario.xtendbin
/.GastoNuevo.java._trace
/.GastoNuevo.xtendbin
/.RepoUsuarios.java._trace
/.RepoUsuarios.xtendbin
/.UsuarioLogin.java._trace
/.UsuarioLogin.xtendbin
/DatosParaElUsuario.java
/GastoNuevo.java
/RepoUsuarios.java
/UsuarioLogin.java
