.navbarM {
  height: auto;  
  width: 100%;
  border-radius: 4px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border: 1px solid transparent;
  margin-bottom: 20px;
  /*text-align: center;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; 
}

.position-text-navbar{
  margin-top: 0.5%;  
  margin-bottom: 0.5%;
  padding: 0.5%;
}

.position-text-navbar-right{
  float: right;
  margin-right: 1%;
}

.position-text-navbar-left{
  float: left;
  margin-left: 1%;
}

.navbar-aux-text{
  font-style: italic;
  font-weight: bold;
}

.panel-busqueda{
  height: 110px;
  background-color: #ddf200;
  padding: 10px;
}

.panel-indice{
  height: 230px;
  background-color: #ff8000;
  padding: 5%;
}

.align-left{
  text-align: left;
}

.panel {
  width: 100%;
  text-align: center;
  border-color: #00796B;
  border-style: solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .panel .panel-heading {
    background-color: #00796B;
    color: #FFFFFF;
    height: 50px;
    font-size: 21px; }
  .panel .panel-body {
    padding: 20px; }

.btn, .primary, .secondary {
  width: auto;
  height: auto;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.primary {
  background-color: #00897b;
  color: #FFFFFF; }

.secondary {
  background-color: #F0F0F9; }

.form {
  width: 50%; }
  .form .form-input {
    width: 100%;
    display: block; }
  .form .form-label {
    float: left;
    font-size: 17px; }

.container {
  width: 50%; }

.containerPrincipal {
  width: 90%; 
  background-color: #00796B;
  }

.contenedorPrincipal {
  width: 90%; 
  
  margin-top: 10px auto;
  margin: auto;
  padding: 1%

}

.contenedorSecundario {
  width: 98%; 
  margin-top: 10px auto;
  margin: auto;
  padding: 1%
}

.center {
  margin-left: 0;
  margin-right: 0;
  margin: auto; }

.fondo-index{
  background-color: #B0BEC5  
}

.footer {
  padding-top: 20px;
  color: #776;
  border-top: 2px solid #e5e5e5;
    position: relative;
}

.medidas_footer {
    
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    margin-left: 10%;
    width: auto;
}

@media screen and (max-width: 800px) {
  .form{
    width: 100%;
  }

  .footer{
    font-size: 12px;
  }

  .panelIzq {
    width: 100%; 
  }

  .panelCentral {
    width: 100%; 
  }

  .panelDer {
    width: 100%; 
  }
}
